.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

.contact-image {
  width: 150px;
}

.contact-heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: 600;
  line-height: 56px;
}
